<template>
  <div>
    <!-- Main NAV -->
    <mainNav />

    <!-- End Head -->

    <nav
      class="hidden sm:flex bg-white border-b border-gray-200"
      aria-label="Breadcrumb"
    >
      <ol
        class="max-w-screen-xl w-full mx-auto p-4 flex space-x-4 sm:px-6 lg:px-8 uppercase border-l border-r"
      >
        <li class="flex">
          <div class="flex items-center">
            <router-link
              :to="{ name: 'index' }"
              class="ml-4 text-xs text-gray-500 hover:text-gray-700"
              >Home</router-link
            >
          </div>
        </li>
        <li class="flex">
          <div class="flex items-center">
            <svg
              class="flex-shrink-0 h-5 w-5 text-gray-300"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            <router-link
              :to="{ name: '' }"
              class="ml-4 text-xs text-gray-500 hover:text-gray-700"
              >Individual</router-link
            >
          </div>
        </li>
        <li class="flex">
          <div class="flex items-center">
            <svg
              class="flex-shrink-0 h-5 w-5 text-gray-300"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            <router-link
              :to="{ name: '' }"
              class="ml-4 text-xs text-gray-500 hover:text-gray-700"
              >Introduction</router-link
            >
          </div>
        </li>
      </ol>
    </nav>
    <main class="relative">
      <div class="relative vh-70 bg-gray-900 max-w-7xl mx-auto">
        <!-- <img
          class="absolute inset-0 w-full h-full object-cover z-0"
          src="../assets/img/hero-individual.jpg"
          alt="NRA"
        /> -->
        <img
          v-if="headerImage.individual"
          class="absolute inset-0 w-full h-full object-cover z-0"
          :src="api_url + headerImage.individual.url"
          alt="NRAh"
        />
        <div class="relative">
          <div class="px-8 py-12 md:pt-16 md:pb-28 md:px-24">
            <p
              class="mt-3 uppercase text-xs sm:text-base text-nra-yellow-500 sm:mt-5"
            >
              TAX INFORMATION
            </p>
            <h1
              class="text-2xl sm:text-xl ont-extrabold text-white sm:mt-1 lg:mt-1 lg:text-4xl"
            >
              <span class="sm:block">{{ individualIntroduction.heading }}</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="bg-white">
        <div class="pb-16 sm:pb-20">
          <mobileDrop />
          <div
            class="max-w-7xl mx-auto p-8 md:p-24 sm:p-24 lg:px-24 bg-white border-t-8 border-nra-blue-500 -mt-2 relative"
          >
            <div class="grid grid-cols-3 gap-12">
              <!-- Sidenav -->
              <sideNav />

              <!-- ... -->
              <div
                v-if="individualIntroduction.list1"
                class="w-auto col-span-3 md:col-span-2"
              >
                <div class="border-b border-gray-300 pb-6 mb-6">
                  <p
                    id="0"
                    class="border-l-4 border-nra-cyan-500 pl-1 font-bold text-xs"
                  >
                    SECTION 1/4
                  </p>
                  <h2
                    class="text-3xl font-extrabold text-gray-900 sm:text-4xl mt-2"
                  >
                    {{ individualIntroduction.title }}
                  </h2>
                </div>

                <h2 class="text-xl font-extrabold text-gray-900">
                  {{ individualIntroduction.heading }}
                </h2>
                <p class="mt-4 text-lg text-gray-800">
                  {{ individualIntroduction.intro }}
                </p>

                <ul class="list-disc mt-4 text-lg text-gray-800 pl-6">
                  <li v-if="individualIntroduction.list.item1">
                    {{ individualIntroduction.list.item1 }}
                  </li>
                  <li v-if="individualIntroduction.list.item2">
                    {{ individualIntroduction.list.item2 }}
                  </li>
                  <li v-if="individualIntroduction.list.item3">
                    {{ individualIntroduction.list.item3 }}
                  </li>
                  <li v-if="individualIntroduction.list.item4">
                    {{ individualIntroduction.list.item4 }}
                  </li>
                  <li v-if="individualIntroduction.list.item5">
                    {{ individualIntroduction.list.item5 }}
                  </li>
                  <li v-if="individualIntroduction.list.item6">
                    {{ individualIntroduction.list.item6 }}
                  </li>
                  <li v-if="individualIntroduction.list.item7">
                    {{ individualIntroduction.list.item7 }}
                  </li>
                  <li v-if="individualIntroduction.list.item8">
                    {{ individualIntroduction.list.item8 }}
                  </li>
                  <li v-if="individualIntroduction.list.item9">
                    {{ individualIntroduction.list.item9 }}
                  </li>
                  <li v-if="individualIntroduction.list.item10">
                    {{ individualIntroduction.list.item10 }}
                  </li>
                </ul>
                <p class="mt-4 text-lg text-gray-800">
                  {{ individualIntroduction.body.defn1 }}
                </p>
                <p class="mt-4 text-lg text-gray-800">
                  {{ individualIntroduction.body.defn2 }}
                </p>
                <p class="mt-4 text-lg text-gray-800">
                  {{ individualIntroduction.body.defn3 }}
                </p>
                <ul class="list-disc mt-4 text-lg text-gray-800 pl-6">
                  <li v-if="individualIntroduction.list1.item1">
                    {{ individualIntroduction.list1.item1 }}
                  </li>
                  <li v-if="individualIntroduction.list1.item2">
                    {{ individualIntroduction.list1.item2 }}
                  </li>
                  <li v-if="individualIntroduction.list1.item3">
                    {{ individualIntroduction.list1.item3 }}
                  </li>
                </ul>
                <p class="mt-4 text-lg text-gray-800">
                  {{ individualIntroduction.body.defn4 }}
                </p>
                <ul class="list-disc mt-4 text-lg text-gray-800 pl-6">
                  <li v-if="individualIntroduction.list1.item1">
                    {{ individualIntroduction.list2.item1 }}
                  </li>
                </ul>

                <cta />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import gql from "graphql-tag";
import sideNav from "./nav/sideNav";
import mainNav from "./nav/mainNav";
import cta from "../components/callToAction";
import mobileDrop from "./nav/mobileDrop";

export default {
  data() {
    return {
      individualIntroduction: [],
      headerImage: [],
      api_url: process.env.VUE_APP_STRAPI_API_URL,
      routeParam: this.$route.params.id,
    };
  },
  components: {
    sideNav,
    mainNav,
    cta,
    mobileDrop,
  },
  mounted() {
    window.scrollTo(0, 0);
  },

  apollo: {
    individualIntroduction: {
      query: gql`
        query individualIntroduction($id: ID!) {
          individualIntroduction(id: $id) {
            title
            heading
            intro
            body {
              defn1
              defn2
              defn3
              defn4
            }
            list {
              item1
              item2
              item3
              item4
              item5
              item6
              item7
              item8
            }
            list1 {
              item1
              item2
              item3
              item4
              item5
            }
            list2 {
              item1
              item2
              item3
              item4
              item5
            }
          }
        }
      `,

      variables() {
        return {
          id: this.routeParam,
        };
      },
    },
    headerImage: gql`
      query headerImage {
        headerImage {
          individual {
            url
          }
        }
      }
    `,
  },
};
</script>

<style>
</style>
