<template>
<div>
    <!-- Main NAV -->

    <scroll-fixed-header :fixed.sync="fixed" :threshold="163">
        <nav class="hidden sm:block">
            <div class="max-w-7xl mx-auto bg-gray-50">
                <div class="relative">
                    <div class="flex border divide-x divide-gray-200">
                        <div style="padding: 7px" v-if="fixed == true" class="flex items-center justify-center">
                            <img class="w-auto h-9 mr-2" src="../assets/img/nralogo.svg" alt="National Revenue Authority" />
                            <h1 class="uppercase font-bold text-3xl">NRA</h1>
                        </div>

                        <router-link :to="{ name: 'index' }" class="px-8 text-sm text-gray-500 outline-none focus:outline-none py-4 inline-flex items-center uppercase">
                            <span>Home</span>
                        </router-link>

                        <router-link :to="{
                  name: 'indIntro',
                  params: { id: '1', slug: 'individual-taxpayer' },
                }" class="px-8 text-sm text-gray-500 outline-none focus:outline-none py-4 inline-flex items-center uppercase">
                            <span>Individual</span>
                        </router-link>

                        <router-link :to="{
                  name: 'bsnIntro',
                  params: { id: '1', slug: 'what-is-considered-a-business' },
                }" class="px-8 text-sm text-gray-500 outline-none focus:outline-none py-4 inline-flex items-center uppercase">
                            <span>Business</span>
                        </router-link>

                        <router-link :to="{
                  name: 'invIntro',
                  params: { id: '1', slug: 'investment-in-south-sudan' },
                }" class="px-8 text-sm text-gray-500 outline-none focus:outline-none py-4 inline-flex items-center uppercase">
                            <span>Investors</span>
                        </router-link>

                        <router-link :to="{
                  name: 'agentsIntro',
                  params: { id: '1', slug: 'agents' },
                }" class="px-8 text-sm text-gray-500 outline-none focus:outline-none py-4 inline-flex items-center uppercase">
                            <span>Agents</span>
                        </router-link>

                        <div style="padding: 12px" v-if="fixed == true" class="hidden sm:flex items-center justify-end sm:flex-1 lg:w-0">
                            <div v-if="fixed == true" class="sm:flex items-center justify-end space-x-4 sm:flex-1 lg:w-0">
                                <a v-bind:href="loginRegLink.login" target="_blank" class="btn btn-blue">
                                    LOG IN
                                </a>
                                <a v-bind:href="loginRegLink.register" target="_blank" class="btn btn-orange">
                                    <svg class="h-5 w-5 text-gray-900 mr-2 -ml-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                                    </svg>
                                    <span>REGISTER</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </scroll-fixed-header>

    <!-- End Head -->

    <main class="relative">
        <div class="relative vh-70 bg-gray-900 max-w-7xl mx-auto">
            <img class="absolute inset-0 w-full h-full object-cover z-0" src="/img/hero-individual.jpg" alt="NRA" />
            <div class="relative bg-gradient-to-r from-black">
                <div class="px-8 py-12 md:pt-16 md:pb-28 md:px-24">
                    <p class="mt-3 uppercase text-xs sm:text-base text-nra-yellow-500 sm:mt-5">
                        TAX INFORMATION
                    </p>
                    <h1 class="text-2xl sm:text-xl ont-extrabold text-white sm:mt-1 lg:mt-1 lg:text-4xl">
                        <span class="sm:block">Individual Taxpayers</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="pb-16 sm:pb-20">

                <!-- Mobile Content Navigation -->
                <div class="w-full md:hidden sm:block">
                    <div class="px-5 py-4 pb-8 bg-gray-200 border border-gray-300 rounded-md">
                        <form class="m-0" action="#">
                            <label for="topic" class="block text-sm text-gray-500 pl-2">Browse Topics</label>
                            <select id="topic" name="topic" class="mt-1 block w-full pl-3 pr-6 py-2 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                                <optgroup label="section 1/4: Introduction">
                                    <option selected>Individual Taxpayer</option>
                                    <option>Individual Taxable Income</option>
                                    <option>The Taxpayer Identification Number (TIN)</option>
                                    <option>Where the TIN applies</option>
                                </optgroup>
                                <optgroup label="section 2/4: TIN Registration">
                                    <option>Registering for a TIN</option>
                                    <option>Where to register as a taxpayer</option>
                                    <option>Cancellation of a TIN Registration</option>
                                    <option>Changing of Registration Status</option>
                                </optgroup>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="max-w-7xl mx-auto p-8 md:p-24 sm:p-24 lg:px-24 bg-white md:border-t-8 md:border-nra-blue-500 -mt-2 relative">

                    <div class="grid grid-cols-3 gap-12">

                        <div class="w-auto col-span-3 md:col-span-1 hidden md:block" x-data="{selected:2}">

                            <div class="flex flex-col overflow-hidden border-b border-gray-300">
                                <h3 id="0" class="block text-xl font-extrabold text-gray-900 py-3 cursor-pointer" x-on:click="selected !== 0 ? selected = 0 : selected = null">
                                    Introduction
                                    <div class="relative float-right">
                                        <svg class="h-5 w-5 absolute top-1 right-0 transition-all duration-300 text-gray-300" x-bind:style="selected == 0 ? 'transform: rotate(90deg); color: #000000;' : ''" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                        </svg>
                                    </div>
                                </h3>
                                <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="section1" x-bind:style="selected == 0 ? 'max-height: ' + $refs.section1.scrollHeight + 'px' : ''">
                                    <div class="py-6 ">
                                        <ul class="space-y-4">
                                            <li class="text-base truncate pb-3">
                                                <a href="individual-taxpayer.html#0" class="hover:text-gray-700">
                                                    Individual Taxpayer
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="individual-taxable-income.html#0" class="hover:text-gray-700">
                                                    Individual Taxable Income
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="taxpayer-identification-number.html#0" class="hover:text-gray-700">
                                                    The Taxpayer Identification Number (TIN)
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="where-tin-applies.html#0" class="hover:text-gray-700">
                                                    Where the TIN applies
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col overflow-hidden border-b border-gray-300">
                                <h3 class="block text-xl font-extrabold text-gray-900 py-3 cursor-pointer" x-on:click="selected !== 1 ? selected = 1 : selected = null">
                                    TIN Registration
                                    <div class="relative float-right">
                                        <svg class="h-5 w-5 absolute top-1 right-0 transition-all duration-300 text-gray-300" x-bind:style="selected == 1 ? 'transform: rotate(90deg); color: #000000;' : ''" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                        </svg>
                                    </div>
                                </h3>
                                <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="section2" x-bind:style="selected == 1 ? 'max-height: ' + $refs.section2.scrollHeight + 'px' : ''">
                                    <div class="py-6 ">
                                        <ul class="space-y-4">
                                            <li class="text-base truncate pb-3">
                                                <a href="registering-for-tin.html#0" class="hover:text-gray-700">
                                                    Registering for a TIN
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="where-to-register.html#0" class="hover:text-gray-700">
                                                    Where to register as a taxpayer
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="cancellation-of-tin.html#0" class="hover:text-gray-700">
                                                    Cancellation of a TIN Registration
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="changing-registration-status.html#0" class="hover:text-gray-700">
                                                    Changing of Registration Status
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col overflow-hidden border-b border-gray-300">
                                <h3 class="block text-xl font-extrabold text-gray-900 py-3 cursor-pointer" x-on:click="selected !== 2 ? selected = 2 : selected = null">
                                    Taxes for individuals
                                    <div class="relative float-right">
                                        <svg class="h-5 w-5 absolute top-1 right-0 transition-all duration-300 text-gray-300" x-bind:style="selected == 2 ? 'transform: rotate(90deg); color: #000000;' : ''" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                        </svg>
                                    </div>
                                </h3>
                                <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="section3" x-bind:style="selected == 2 ? 'max-height: ' + $refs.section3.scrollHeight + 'px' : ''">
                                    <div class="py-6 ">
                                        <ul class="space-y-4">
                                            <li class="text-base truncate pb-3">
                                                <a href="personal-income-tax.html#0" class="hover:text-gray-700">
                                                    Personal Income Tax (PIT)
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="withholding-tax.html#0" class="hover:text-gray-700">
                                                    Withholding Tax
                                                </a>
                                            </li>
                                            <li class="text-base truncate pb-3">
                                                <a href="advance-tax.html#0" class="hover:text-gray-700">
                                                    Advance Tax
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col overflow-hidden border-b border-gray-300">
                                <a href="frequently-asked-questions.html#0" class="block text-xl font-extrabold text-gray-900 py-3 cursor-pointer">
                                    Frequently Asked Questions
                                    <div class="relative float-right">
                                        <svg class="h-5 w-5 absolute top-1 right-0 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                        </svg>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <!-- ... -->
                        <div class="w-auto col-span-3 md:col-span-2">

                            <div class="border-b border-gray-300 pb-6 mb-6">
                                <p id="0" class="border-l-4 border-nra-cyan-500 pl-1 font-bold text-xs">SECTION 1/4</p>
                                <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl mt-2">
                                    Introduction
                                </h2>
                            </div>

                            <h2 class="text-xl font-extrabold text-gray-900">
                                Individual Taxpayer
                            </h2>
                            <p class="mt-4 text-lg text-gray-800">An individual taxpayer is any person who is liable for tax. Any
                                person having an income can be registered as a taxpayer. Residents of South Sudan are taxable on their
                                worldwide income (either from a local and foreign source), while non-residents of South Sudan are
                                taxable on their South Sudan source income.</p>

                            <!-- Call to action -->
                            <div class="relative rounded-lg overflow-hidden vh-60 w-full mx-auto bg-blue-600 mt-20">
                                <img class="absolute right-0 h-full w-auto z-0" src="/img/cta-img.jpg" />
                                <div class="relative bg-gradient-to-r via-blue-600 from-blue-600">
                                    <div class="w-full md:w-2/3 px-10 py-10 md:py-20 md:px-20">
                                        <p class="text-3xl font-bold text-white sm:text-4xl mb-4">Let’s go digital</p>
                                        <p class="text-white mb-4">Technology is transforming how the NRA conducts business. Enjoy the
                                            ease and convenience. Register for your TIN today!</p>
                                        <a href="#" class="btn btn-orange">
                                            <svg class="h-5 w-5 text-gray-900 mr-2 -ml-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                                            </svg>
                                            <span>REGISTER</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</template>

<script>

</script>

<style></style>
