@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .top-link {
        @apply text-xs uppercase font-medium text-gray-300;
    }

    .top-link:hover {
        @apply text-gray-400;
    }

    .btn {
        @apply uppercase whitespace-nowrap inline-flex items-center justify-center px-6 py-2 border rounded-md shadow-sm text-sm font-medium;
    }

    .btn-blue {
        @apply border-nra-blue-500 bg-nra-blue-500 text-white;
    }

    .btn-blue:hover {
        @apply border-nra-blue-400 bg-nra-blue-400 text-white;
    }

    .btn-cyan {
        @apply border-nra-cyan-500 bg-nra-cyan-500 text-white;
    }

    .btn-cyan:hover {
        @apply border-nra-cyan-400 bg-nra-cyan-400 text-white;
    }

    .btn-cyan-outline {
        @apply bg-transparent border-nra-cyan-500 text-nra-cyan-500;
    }

    .btn-cyan-outline:hover {
        @apply bg-transparent border-nra-cyan-400 text-nra-cyan-400;
    }

    .btn-orange {
        @apply border-nra-orange-500 bg-nra-orange-500 text-nra-orange-900;
    }

    .btn-orange:hover {
        @apply border-nra-orange-400 bg-nra-orange-400 text-nra-orange-900;
    }

     

    .main-nav-item {
        @apply border-r py-4 text-gray-500 text-center text-sm font-medium uppercase;
    }

    .main-nav-item.nav-item-active {
        @apply border-yellow-500 bg-yellow-50 py-4 text-gray-900 border-b-2 text-sm text-center font-medium border-l border-r uppercase;
    }

    /* since nested groupes are not supported we have to use 
        regular css for the nested dropdowns 
    */
    li>ul {
        transform: translatex(100%) scale(0)
    }

    li:hover>ul {
        transform: translatex(101%) scale(1)
    }

    li>button svg {
        transform: rotate(-90deg)
    }

    li:hover>button svg {
        transform: rotate(-270deg)
    }

    /* Below styles fake what can be achieved with the tailwind config
        you need to add the group-hover variant to scale and define your custom
        min width style.
        See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
        for implementation with config file
    */
    .group:hover .group-hover\:scale-100 {
        transform: scale(1)
    }

    .group:hover .group-hover\:-rotate-180 {
        transform: rotate(180deg)
    }

    .scale-0 {
        transform: scale(0)
    }

    .min-w-32 {
        min-width: 8rem
    }

}